<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

	<profiles>
    	<profile>
			<id>dev</id>
			<properties>
				<environment.name>Sandbox</environment.name>
				<env>dev</env>
				<prefix>dev-</prefix>
				<target>Cloudhub-US-East-2</target>
				<app.name.prefix>dev-</app.name.prefix>
			</properties>
		</profile>
    	<profile>
			<id>stg</id>
			<properties>
				<environment.name>Sandbox</environment.name>
				<env>stg</env>
				<prefix>stg-</prefix>
				<target>Cloudhub-US-East-2</target>
				<app.name.prefix>stg-</app.name.prefix>
			</properties>
		</profile>
    	<profile>
			<id>prd</id>
			<properties>
				<environment.name>Sandbox</environment.name>
				<env>prd</env>
				<prefix>prd-</prefix>
				<target>Cloudhub-US-East-2</target>
				<app.name.prefix></app.name.prefix>
			</properties>
		</profile>
	</profiles>

	<servers>
		<server>
			<id>MuleRepository</id>
			<username>${enterprise.username}</username>
			<password>${enterprise.password}</password>
		</server>
		<server>
			<id>anypoint-exchange-v3</id>
			<username>~~~Client~~~</username>
			<password>${connected.app.client.id}~?~${connected.app.client.secret}</password>
		</server>
	</servers>
</settings>
